@import '../../variables.scss';

.ReflectionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  color: $lightest;
  background-color: $darkest;
  border: none;
  border-radius: 10rem;
  font-size: 1.2rem;
  width: 10vw;
  height: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

label {
  background: none;
}

textArea {
  padding: 2%;
  height: 60vh;
  width: 80vw;
  resize: none;
  margin: 3% 5% 0% 5%;
  font-size: .8em;
  border: none;
  background-color: rgb(255, 255, 255, .5);
}


.reflectionPrompt {
  font-size: 2.5rem;
  display: inline-flex;
}
