* {
  padding: 0;
  margin: 0;
  background-color: #F3F5F6;
};

button {
  border-radius: 10%;
  color: #f3f5f6;
  height: 3vh;
  border: solid 1px #121316;
  background-color: #121316;
  width: 20vw;
  margin: 1%;
}

:focus{
  outline: none;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
};

footer {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
};

.homeButton, p {
  margin: 2vh;
  height: 5vh;
};

.activeHomeButton {
  margin: 2vh;
  height: 5vh;
  content: url('../../Assets/closedLogo.svg');
  // border: 3px solid red;
}
