@mixin square($size, $pos) {
  height: $size;
  width: $size;
  position: absolute;
  x: -10vh;
  left: $pos;
  background-color: hsl(225, 10%, 8%);
  text-align: center;
  justify-content: center;
  display: none;
}

.square0 {
  @include square(150px, 10vw)
}
.square1 {
  @include square(80px, 50vw)
}
.square2 {
  @include square(125px, 20vw)
}
.square3 {
  @include square(75px, 80vw)
}
.square4 {
  @include square(60px, 60vw)
}
.square5 {
  @include square(120px, 50vw)
}
.square6 {
  @include square(100px, 10vw)
}
.square7 {
  @include square(150px, 80vw)
}
.square8 {
  @include square(60px, 70vw)
}
.square9 {
  @include square(90px, 10vw)
}

.childSquare {
  position: fixed;
  top: 25%;
  left: 25%;
  background-color: hsla(329, 57%, 25%, 0%);
  height: 25%;
  width: 25%;
}
