@mixin square($size, $pos) {
  height: $size;
  width: $size;
  position: absolute;
  x: -10vh;
  left: $pos;
  background-color: hsl(200, 14%, 96%);
  display: none;
}
.angryWrap {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  background: linear-gradient(45deg, hsla(327, 25%, 39%, 100%), hsl(320, 30%, 12%));
}
.square0 {
  @include square(150px, 10vw)
}
.square1 {
  @include square(80px, 50vw)
}
.square2 {
  @include square(125px, 20vw)
}
.square3 {
  @include square(75px, 80vw)
}
.square4 {
  @include square(60px, 60vw)
}
.square5 {
  @include square(120px, 30vw)
}
.square6 {
  @include square(100px, 40vw)
}
.square7 {
  @include square(150px, 80vw)
}
.square8 {
  @include square(60px, 70vw)
}
.square9 {
  @include square(90px, 10vw)
}
.square10 {
  @include square(150px, 20vw)
}
.square11 {
  @include square(60px, 80vw)
}
.square12 {
  @include square(100px, 10vw)
}
.square13 {
  @include square(75px, 30vw)
}

.childSquare {
  position: fixed;
  top: 25%;
  left: 25%;
  display: none;
  height: 50%;
  width: 50%;
}
