.anxiousCircle {
  height: 20vw;
  width: 20vw;
  border-radius: 100%;
}

#anxiousCircle2 {
  background-color: violet;
}

#anxiousCircle3 {
  background-color: green;
}

#anxiousCircle4 {
  background-color: goldenrod;
}

#anxiousCircle5 {
  background-color: pink;
}

#anxiousHexagon1 {
  position: relative;
  width: 51.90311418685121vw;
  height: 29.96712802768166vw;
  background-color: #d4c894;
  margin: 14.982698961937716vw 0;
}

#anxiousHexagon1:before,
#anxiousHexagon1:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 25.951557093425606vw solid transparent;
  border-right: 25.951557093425606vw solid transparent;
}

#anxiousHexagon1:before {
  bottom: 100%;
  border-bottom: 14.982698961937716vw solid #d4c894;
}

#anxiousHexagon1:after {
  top: 100%;
  width: 0;
  border-top: 14.982698961937716vw solid #d4c894;
}
