.anxiousRoom {
  // background: linear-gradient(0deg, hsl(164, 73%, 80%) 0%, hsl(118, 32%, 64%) 50%, hsl(33, 29%, 68%) 100%);
}

$hex-size: 4em;

.container {
  width: 100vw;
  line-height: 4.2;
  margin-left: 27em;
  display:flex;
  flex-direction: column;
  align-self: center;
}

ol.even {
  position: relative;
  left: ($hex-size / 1.1);
}

ol.odd {
  position: relative;
  margin-top: -4.8%;
  margin-bottom: -4.8%;
}

.hex {
  position: relative;
  margin: 1em auto;
  width: $hex-size; height: ($hex-size * 1.7);
  background: #ccc;
  transform: rotate(-90deg);
  display: inline-block;
  margin-right: ($hex-size / 1.30);
  transition: all 150ms ease-in-out;
}

.hex:before, .hex:after {
  position: absolute;
  width: inherit; height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}

.hex:before {
  transform: rotate(60deg);
}

.hex:after {
  transform: rotate(-60deg);
}
