.directions {
  background-color: hsla(199, 14%, 74%, .5);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 25vh;
  padding-bottom: 25vh;
  position: fixed;
  z-index: 101;
  .getStarted {
    font-size: 1.2rem;
    width: 10%;
    margin: 5vh;
  }
}

.soundControlPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3vh;
  background-color: hsla(199, 14%, 74%, .7);
  height: 14vh;
  width: 12vw;
  position: fixed;
  z-index: 100;
}
