@mixin circle($size, $bc, $z) {
  width: $size;
  height: $size;
  background-color: $bc;
  border-radius: 100%;
  box-shadow: 0px 0px 35px white inset;
  position: absolute;
  z-index: $z;
  align-self: center;
}

.fineRoom {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, hsl(164, 73%, 80%) 0%, hsl(118, 32%, 64%) 50%, hsl(33, 29%, 68%) 100%);
}

#fineCircle1 {
  @include circle(10vw, hsla(119, 38%, 72%, .5), 1);
}

#fineCircle2 {
  @include circle(16vw, hsla(62, 69%, 90%, .5), 2);
}

#fineCircle3 {
  @include circle(7vw, hsla(119, 38%, 72%, .5), 3);
}

#fineCircle4 {
  @include circle(20vw, hsla(62, 69%, 90%, .5), 4);
}

#fineCircle5 {
  @include circle(12vw, hsla(119, 38%, 72%, .5), 5);
}

#fineCircle6 {
  @include circle(5vw, hsla(62, 69%, 90%, .5), 6);
}

#fineCircle7 {
  @include circle(10vw, hsla(119, 38%, 72%, .5), 1);
}

#fineCircle8 {
  @include circle(16vw, hsla(62, 69%, 90%, .5), 2);
}

#fineCircle9 {
  @include circle(7vw, hsla(119, 38%, 72%, .5), 3);
}

#fineCircle10 {
  @include circle(20vw, hsla(62, 69%, 90%, .5), 4);
}

#fineCircle11 {
  @include circle(12vw, hsla(119, 38%, 72%, .5), 5);
}

#fineCircle12 {
  @include circle(5vw, hsla(62, 69%, 90%, .5), 6);
}
