.welcomeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 90vh;
}
.logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0vw;
  opacity: 0;
  color: #121316;
}
