.Lobby {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  justify-content: center;
  height: 80vh;
  width: 80vw;
}
.moodButton {
  border-radius: 100px;
  margin:1vh;
  width: 15vh;
  height: 15vh;
  font-size: 1.5rem;
}
.roomButton {
  margin: 1vh;
  width: 10vh;
  height: 2rem;
  font-size: 1.2rem;
}
h2 {
  margin: 2vh;
  font-size: 2rem;
}
