@import '../../variables.scss';
.Lobby {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  justify-content: center;
  height: 80vh;
  width: 80vw;
}

.roomButton {
  margin: 1vh;
  width: 10vh;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 10rem;
  color: $lightest;
  background-color: $darkest;
  margin: 1%;
}
.roomButton:hover {
  font-size: 1.1rem;
}

.moodContainer {
  height: 0vh;
  overflow: hidden;
  text-align: center;
}

.roomButton:disabled {
  opacity: 50%;
  font-size: 1.2rem;
}

h2 {
  margin: 2vh;
  font-size: 2rem;
}
