$lightest: hsla(200, 14%, 96%, 1);
$fineBaseColor: hsla(119, 38%, 72%, 1);
$anxiousBaseColor: hsla(48, 57%, 45%, 1);
$sadBaseColor: hsla(197, 30%, 63%, 1);
$angryBaseColor: hsla(329, 57%, 25%, 1);
$darkest: hsla(225, 10%, 8%, 1);

$fineshade1: hsla(128, 29%, 90%, 1);
$fineshade2: hsla(120, 35%, 81%, 1);
$fineshade3: hsla(119, 38%, 72%, 1);
$fineshade4: hsla(120, 18%, 56%, 1);
$fineshade5: hsla(122, 13%, 40%, 1);
$fineshade6: hsla(124, 11%, 24%, 1);
$fineshade7: hsla(120, 9%, 18%, 1);
$fineshade8: hsla(120, 6%, 13%, 1);
$fineshade9: hsla(0, 0%, 8%, 1);

$sadshade1: hsla(198, 29%, 80%, 1);
$sadshade2: hsla(197, 30%, 63%, 1);
$sadshade3: hsla(202, 19%, 49%, 1);
$sadshade4: hsla(210, 21%, 34%, 1);
$sadshade5: hsla(224, 26%, 20%, 1);
$sadshade6: hsla(237, 33%, 12%, 1);
$sadshade7: hsla(246, 48%, 8%, 1);
$sadshade8: hsla(246, 45%, 4%, 1);
$sadshade9: hsla(0, 0%, 0%, 1);

$anxiousshade1: hsla(49, 43%, 71%, 1);
$anxiousshade2: hsla(49, 44%, 64%, 1);
$anxiousshade3: hsla(48, 46%, 51%, 1);
$anxiousshade4: hsla(48, 57%, 45%, 1);
$anxiousshade5: hsla(48, 55%, 40%, 1);
$anxiousshade6: hsla(48, 50%, 31%, 1);
$anxiousshade7: hsla(48, 44%, 25%, 1);
$anxiousshade8: hsla(48, 34%, 17%, 1);

$angryshade1: hsla(325, 15%, 78%, 1);
$angryshade2: hsla(327, 18%, 52%, 1);
$angryshade3: hsla(328, 25%, 43%, 1);
$angryshade4: hsla(329, 57%, 25%, 1);
$angryshade5: hsla(327, 52%, 21%, 1);
$angryshade6: hsla(325, 44%, 16%, 1);
$angryshade7: hsla(320, 30%, 12%, 1);
