$lightest: hsla(200, 14%, 96%, 1);
$fineBaseColor: hsla(119, 38%, 72%, 1);
$anxiousBaseColor: hsla(48, 57%, 45%, 1);
$sadBaseColor: hsla(197, 30%, 63%, 1);
$angryBaseColor: hsla(329, 57%, 25%, 1);
$darkest: hals(225, 10%, 8%, 1);

$1fineshade: hsla(128, 29%, 90%, 1);
$2fineshade: hsla(120, 35%, 81%, 1);
$3fineshade: hsla(119, 38%, 72%, 1);
$4fineshade: hsla(120, 18%, 56%, 1);
$5fineshade: hsla(122, 13%, 40%, 1);
$6fineshade: hsla(124, 11%, 24%, 1);
$7fineshade: hsla(120, 9%, 18%, 1);
$8fineshade: hsla(120, 6%, 13%, 1);
$9fineshade: hsla(0, 0%, 8%, 1);

$1sadshade: hsla(198, 29%, 80%, 1);
$2sadshade: hsla(197, 30%, 63%, 1);
$3sadshade: hsla(202, 19%, 49%, 1);
$4sadshade: hsla(210, 21%, 34%, 1);
$5sadshade: hsla(224, 26%, 20%, 1);
$6sadshade: hsla(237, 33%, 12%, 1);
$7sadshade: hsla(246, 48%, 8%, 1);
$8sadshade: hsla(246, 45%, 4%, 1);
$9sadshade: hsla(0, 0%, 0%, 1);

$1anxiousshade: hsla(49, 43%, 71%, 1);
$2anxiousshade: hsla(49, 44%, 64%, 1);
$3anxiousshade: hsla(48, 46%, 51%, 1);
$4anxiousshade: hsla(48, 57%, 45%, 1);
$5anxiousshade: hsla(48, 55%, 40%, 1);
$6anxiousshade: hsla(48, 50%, 31%, 1);
$7anxiousshade: hsla(48, 44%, 25%, 1);
$8anxiousshade: hsla(48, 34%, 17%, 1);

$1angryshade: hsla(325, 15%, 78%, 1);
$2angryshade: hsla(327, 18%, 52%, 1);
$3angryshade: hsla(328, 25%, 43%, 1);
$4angryshade: hsla(329, 57%, 25%, 1);
$5angryshade: hsla(327, 52%, 21%, 1);
$6angryshade: hsla(325, 44%, 16%, 1);
$7angryshade: hsla(320, 30%, 12%, 1);
